.ChatsTimeline {
  padding-top: 22px!important;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.TimelineItem {
  padding: 0!important;
  display: flex;
  flex-direction: row;
  &-body {
    position: relative;
    padding-left: 40px;
    &:before {
      content: "";
      position: absolute;
      height: 25px;
      width: 25px;
      background-color: #bbb;
      border-radius: 50%;
      border: 3px white solid;
      left: 0;
      top: -4px;
    }

    &:after {
      content: "";
      position: absolute;
      width: 4px;
      height: 100%;
      background: #444444;
      left: 14px;
      z-index: -1;
      top: 0;
    }
  }

  &-date {
    text-align: center;
    padding: 0 7px 0 10px;
    p {
      width: 60px;
      margin-top: -10px;
      font-size: 14px;
    }
  }

  &-peopleList {
    display: flex;
    align-items: center;
    margin: 10px 0;
    & > div {
      margin-right: 2px;
      &:nth-child(0) {
        background: red;
      }
      &:nth-child(1) {
        background: red;
      }
      &:nth-child(2) {
        background: red;
      }
    }
  }

  &-chipList {
    margin: 10px 0;
    & > div {
      margin-right: 2px;
      margin-bottom: 2px;
    }
  }

  &:last-child {
    &:after {
      height: 20px;
    }
  }
}

.TimelineItem {
  &:last-child {
    .TimelineItem-body:after {
      display: none;
    }
  }
}
